div, p, input, button, form, a, span, ul, li{
    box-sizing: border-box;
}
img{
    width: 150px;
}
h1{
    color: red;
}
h2{
    color: white;
    background-color: green;
    padding: 5px;
}
p span{
    color: red;
}
.pthistext{
    width: 100px;
    color: white;
    background-color: blue;
    margin-bottom: 8px;
}
.pican{
    padding-left: 120px;
}
.h2what{
    padding: 500 px;
}
ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
li{
    border: 1px solid black;
    font-size: 30px;
}